* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}

header {
    background-image: linear-gradient(to bottom right, gray, gainsboro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

h1 {
    font-size: 250%;
}

a:link, a:visited {
    color: black;
}

header ul {
    list-style-type: none;
    padding: 20px;
}

header li {
    display: inline-block;
    padding: .5em;
    font-size: 125%;
    color: black;
}

.banner {
    position: relative;
    width: 100vw;
}

.banner img {
    width: 100vw;
}

.banner-text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: calc(banner-text + 5px);
}

.banner-text p {
    background-color: #ffcd00;
    color: black;
    font-size: 200%;
    font-weight: bold;    
}

.portfolio-tier {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.portfolio-tier h2 {
    width: 25vw;
    border-left: 10px dotted gray;
    padding: 20px;
}

.work-samples h2 {
    width: 25vw;
    border-left: 10px dotted whitesmoke;
    padding: 20px;
}

.portfolio-tier p {
    width: 75vw;
    padding: 20px 20px;
}

.portfolio-tier ul {
    list-style-type: none;
    padding: 20px;
}

.portfolio-tier li {
    display: inline-block;
    padding: 1.5em;
    font-size: 110%;
    color: black;
}

.portfolio-tier li:hover {
    font-size: 120%;
    text-decoration: underline;
}

.work-samples {
    background-image: linear-gradient(gray, #e3e3e3);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(75vw + 40px);
}

.card-primary {
    position: relative;
    flex: 1 0 75vw;
    border: 5px solid black;
    margin-bottom: 1em;
}

.card-primary img {
    width: 75vw;
}

.card-smaller {
    position: relative;
    width: 36.5vw;
    /* flex: 1 1 200px; */
    border: 5px solid black;
    margin-bottom: 1em;
    margin-right: 1em;
}

.card-smaller img {
    width: calc(36.5vw - 10px);
}

.work-caption {
    position: absolute;
    padding: 20px;
    left: 2vw;
    bottom: 2vw;
    background-color: black;
    color: whitesmoke;
}

