* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}

/* Establishes the header stylings */
header {
    background-image: linear-gradient(to bottom right, gray, gainsboro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

h1 {
    font-size: 250%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
}

a {
    color: black;
}

/* I discovered this hover effect on CSS Tricks (https://css-tricks.com/css-link-hover-effect) and will cite it in the README file. */
header a {
    box-shadow: inset 0 0 0 0 black;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header a:hover {
    box-shadow: inset 100px 0 0 0 black;
    color: whitesmoke;
  }

header ul {
    list-style-type: none;
    padding: 20px;
}

header li {
    display: inline-block;
    padding: .5em;
    font-size: 125%;
    color: black;
}

/* Sets parameters for the banner image and positions the selfie photo and the Hawkeye affinity statement */ 
.banner {
    position: relative;
    width: 100vw;
}

.banner img {
    width: 100vw;
}

.banner-text {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.banner-text p {
    background-color: #ffcd00;
    color: black;
    font-size: 200%;
    font-weight: bold;    
}

.cycling-selfie {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.cycling-selfie img {
    width: 13vw;
    border-radius: 25%;
}

main {
    display: flex;
    flex-wrap: wrap;
}
/* Sets styles for the About Me and Contact Me rows */
.portfolio-tier, .contact-tier {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-color: whitesmoke;
    padding: 10px 20px;
}

.portfolio-tier h2, .contact-tier h2 {
    width: 25vw;
    border-left: 10px dotted gray;
    padding: 20px;
}

.portfolio-tier p {
    width: 75vw;
    padding: 20px;
}

.portfolio-tier ul, .contact-tier ul {
    list-style-type: none;
    padding: 20px;
}

/* Stylizes the left side of the Work section, which holds the title */
.aside {
    flex: 1;
    background-image: linear-gradient(gray, #e3e3e3);
    padding: 20px 20px;
    color: whitesmoke;
}

.aside h2 {
    border-left: 10px dotted whitesmoke;
    padding: 20px;

}
/* Establishes responsive behavior in the Work section */
.work-samples {
    flex: 3;
    background-image: linear-gradient(gray, #e3e3e3);
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
/* Sets the style for the primary photo and the secondary photos in the Work section */
.card-primary {
    position: relative;
    flex: 2 1 75vw;
    border: 5px solid black;
    margin-bottom: 1em;
}

.card-smaller {
    position: relative;
    flex: 0 0 34vw;
    border: 5px solid black;
    margin-bottom: 1em;
}

.card-primary img, .card-smaller img {
    width: 100%;
    margin-bottom: -5px;
}

.card-primary a, .card-smaller a {
    color: whitesmoke;
}
/* provides a golden border on the Work photos upon hover */ 
.card-primary:hover, .card-smaller:hover {
    border: 6px dashed #ffcd00;
}
/* The Work Caption class provides a box (overlaying the photo) with a title and descriptor for each of the photos in the "Work" section */
.work-caption {
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
}

.work-caption h3 {
    font-size: 100%;
}

.work-caption p {
    font-size: 75%;
}
/* Styles the Contact Me row */
.contact-tier li {
    display: inline-block;
    padding: 2em;
    font-size: 110%;
    color: black;
}
/* sets width of the Contact Me icons */
.contact-tier li img {
    width: 8vw;
}

/* Creates a descriptive block under the Contact Me icons upon hover, so as not to display my phone number or email on the page, and provides a clean look to the icon set */
span[data-descr] {
    position: relative;
    cursor: pointer;
  }

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 5px;
    bottom: -50px;
    min-width: 40px;
    border: 1px gray solid;
    background-color: gray;
    padding: 12px;
    color: whitesmoke;
    font-size: 90%;
    z-index: 1;
  }

/* SETTINGS FOR SCREEN WITH MAX WIDTH OF 992px */
@media screen and (max-width: 992px) {
    /* .aside {
        display: block;
    } */

    .work-samples {
        display: flex;
        flex: 4;
        background-image: linear-gradient(gray, #e3e3e3);
        padding: 20px 20px;
        justify-content: space-around;
    }
}

/* SETTINGS FOR SCREEN WITH MAX WIDTH OF 650px */
@media screen and (max-width: 650px) {
    header {
        display: block;
    }

    .portfolio-tier {
        display: block;
        align-items: center;
        padding: 10px 20px;
    }
    
    .portfolio-tier h2 {
        width: 100vw;
        border-left: 10px dotted gray;
        padding: 20px;
    }

    .contact-tier {
        display: block;
        align-items: center;
        padding: 10px 20px;
    }
    
    .contact-tier h2 {
        width: 100vw;
        border-left: 10px dotted gray;
        padding: 20px;
    }

    .aside {
        /* display: block; */
        width: 100vw;
    }
    
    .work-samples {
        display: flex;
    }
    
    .card-smaller {
        flex: 0 0 60vw;
    }

    .work-caption {
        position: inherit;
    }
}