* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}

header {
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

h1 {
    font-size: 250%;
}

a:link, a:visited {
    color: black;
}

header ul {
    list-style-type: none;
    padding: 20px;
}

header li {
    display: inline-block;
    padding: .5em;
    font-size: 125%;
    color: black;
}

.banner {
    position: relative;
    width: 100vw;
}

.banner img {
    width: 100vw;
}

.banner-text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: calc(banner-text + 5px);
}

.banner-text p {
    background-color: #ffcd00;
    color: black;
    font-size: 200%;
    font-weight: bold;    
}

.portfolio-tier {
    background-color: beige;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-tier h2, .work-samples h2 {
    width: 25vw;
    border-left: 5px dotted gray;
    padding: 20px;
}

.portfolio-tier p {
    width: 75vw;
    padding: 20px 20px;
}

.portfolio-tier ul {
    list-style-type: none;
    padding: 20px;
}

.portfolio-tier li {
    display: inline-block;
    padding: 1em;
    font-size: 100%;
    color: black;
}

.work-samples {
    background-color: burlywood;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: flex-end;
    align-items: center;
}

.card-primary {
    position: relative;
    flex: 1 0 75vw;
    border: 10px solid black;
    /* background-image: url("./images/wesley-tingey-dKCKiC0BQtU-unsplash.jpg"); */
}

.card-primary img {
    width: 75vw;
}

.work-caption {
    position: absolute;
    padding: 20px;
    right: 2vw;
    bottom: 2vw;
    background-color: black;
    color: whitesmoke;
}

.card-02 {
    flex: 1 0 35vw;
}

.card-03 {
    flex: 1 0 35vw;
}

.card-04 {
    flex: 1 0 35vw;
}

.card-05 {
    flex: 1 0 35vw;
}